*{
	margin:0;
	padding:0;
}

.topnav{
	margin: 0;
	padding: 20px;
	background-color: #292727;
	overflow: hidden
}

ul{
    background-color: #292727;
    float: left;
}

ul a:hover{
    background-color: maroon;
}

ul a {
	font-family: sans-serif;
	font-size: 16px;
	display: inline;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.intro{
	margin:0;
	background-size: 400% 400%;
	background: linear-gradient(to right, red,yellow);
	animation:
}

.intro img {
	display:block;
	border-radius: 80%;
	margin-left: auto;
	margin-right: auto;
}

.intro h1{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: white;
}
.intro h2{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: yellowgreen;
}



.aboutme{
	background-color: lightgrey;
}

	
	

